html{
    margin: 0;
    padding: 0;
    font-style: none;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgb(70, 70, 70);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: rgb(0, 162, 255);
    text-decoration: none;
}

h1{
    font-size: 45px;
    font-weight: 900;
}

h3{
    font-size: 26px;
    font-weight: 700;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    line-height: 32px;
    font-size: 20px;
    padding: 0 24px;
}

.logo{
    display: flex;
    width: 300px;
    height: 64px;
    align-items: center;
    font-size: 24px;
}

.logo img{
    height: 48px;  
}

.colmar{
    color: rgb(70, 70, 70); 
    font-weight: bold; 
}

.academy{
    color: gray;
    font-weight: lighter;
}

.nav-buttons{
    display: flex;
    list-style: none;
    flex-direction: row;  
}

.nav-buttons li{
    margin: auto 8px;
}

.bigbox {
    display: flex; 

}

.one{
    background-color: lightgrey;
}

.left{
    width: 60%;
    margin: 32px 24px;
}

.bigbox img{
    width: 100%;
}

.left p{
    margin: 32px auto 24px auto;
}

.one .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

}

.right div{
    width: 100%;
}

.two .right{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
    margin-top: 16px;
}

button{
    padding: 8px;
    width: 80%;
    margin: 24px 0;
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.featurete{
    display: flex;
}

.featurete .img{
    width:40%;
    padding: 16px;
}

.featurete .content{
    width: 65%;
}

.guest{
    background-color: lightgrey;
}